<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/external.css" />
    <link rel="stylesheet" href="css/universal.css" />
    <link rel="stylesheet" href="css/spider.css" />
    <title> Teacher's Day Special </title>
  </head>
  <body>

    <header class="flex-sp-btw">

      <div class="logo">
        <img
          src="/images/LOGO.png"
          alt="Kartik Dixit"
          id="logo-main"
          title="Kartik Dixit"
        />
      </div>


      <div id="spiderman" class="hide">
        <div class="container center">
          <div class="rope center">
            <div class="legs center">
              <div class="boot-l"></div>
              <div class="boot-r"></div>
            </div>
            <div class="costume center">
              <div class="spider">
                <div class="s1 center"></div>
                <div class="s2 center"></div>
                <div class="s3"></div>
                <div class="s4"></div>
              </div>
              <div class="belt center"></div>
              <div class="hand-r"></div>
              <div class="hand-l"></div>
              <div class="neck center"></div>
              <div class="mask center">
                <div class="eye-l"></div>
                <div class="eye-r"></div>
              </div>
              <div class="cover center"></div>
            </div>
          </div></div>
      </div>


      <div class="menu-btn">
        <label class="hamburger">
          <input type="checkbox" id="menu-input" />
          <svg viewBox="0 0 32 32">
            <path
              class="line line-top-bottom"
              d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"
            ></path>
            <path class="line" d="M7 16 27 16"></path>
          </svg>
        </label>
      </div>

    </header>

    {{{body}}}

    <script src="js/script.js"></script>
  </body>
</html>