<section id="home-section-main" class="home-main flex">

    
    <div class="left-content flex-column">
        <div id="name-space" class="flex-column">
            <img src="/images/respect-text.png" id="respect-img"></img>
            <span id="p-name-text">Tony Stark</span>
        </div>
        <div id="greeting-container">
            <img src="/images/Happy.png" alt="Teachers" class="teacher-name">

        </div>
    </div>
    <div class="right-content flex" id="image-slider-container">
        <div class="img-cards" id="card1"></div>
        <div class="img-cards" id="card2"></div>
        <div class="img-cards" id="card3"></div>
        <div class="img-cards" id="card4"></div>
    </div>

</section>
