<section id="home-section-main" class="home-main flex">

    
    <div class="left-content flex-column border-green">
        <div id="name-space" class="flex-column">
            <img src="/images/respect-text.png" id="respect-img"></img>
            <span id="p-name-text">Tony Stark</span>
        </div>
        <div id="greeting-container">
            <img src="/images/Happy.png" alt="Teachers" class="teacher-name">

        </div>
    </div>
    <div class="right-content border-red" id="image-slider-container">
        <div id="card1"></div>
        <div id="card2"></div>
        <div id="card3"></div>
        <div id="card4"></div>
    </div>

</section>