@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

body {
  position: relative;
  background: url("../images/iron_man/tony-stark.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 100vh;
}
body::before {
  position: absolute;
  content: "";
  top: 0%;
  right: 0%;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: 60%;
  z-index: -99;
}
header {
  /* border: 5px solid white; */
  position: relative;
  padding: 5px 25px 0px 25px;
  height: 10vh;
  z-index: 99;
  transition: opacity 1s ease, visibility 1s ease;
}
section{
    overflow-x: hidden;
    visibility: visible;
    z-index: -9;
    /* opacity: 1; */
    /* transition: opacity 1s ease, visibility 1s ease; */
}

.logo img {
  width: 95px;
  height: 82px;
}
.left-content {
  min-width: 35vw;
  height: 85vh;
  /* align-items: center; */
}
.right-content {
  min-width: 75vw;
  max-height: 75vh;
  align-items: center;
  /* justify-content: center; */
}
#name-space {
  width: 16vw;
  height: 18vw;
  align-self: center;
  padding: 5px 15px 5px 30px;
  background: url("../images/bg_box.png");
  box-sizing: border-box;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  max-height: 25%;
  justify-content: center;
}
#respect-img {
  width: 55%;
  height: 35px;
}
#p-name-text {
  font-family: "Big Shoulders Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 3vw;
  color: #ff66c498;
  -webkit-text-stroke: 1.5px #ff0099;
  animation: glow 1.5s infinite alternate;
}
#greeting-container img {
  height: 65vh;
  margin-left: 25px;
}
.img-cards{
    background-image: url(../images/iron_man/1696951835-Iron-man-short_hires.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 30px;
    width: 22vw;
    min-height: 38vh;
    border-radius: 35px;
}
header::before{
    content: "Made by Kartik Dixit with ❤️.";
    position: absolute;
    height: 100vh;
    background-color: #0E0E26;
    color: #FFFF;
    font-size: xx-large;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s ease, visibility 0.5s ease; /* Smooth transition for opacity and visibility */
    opacity: 0; /* Start fully visible */
    visibility: hidden; /* Start visible */
}

.show-author::before {
    visibility: visible;
    opacity: 1;
}


@keyframes glow {
  0% {
    text-shadow: 0 0 5px #ff82cf, 0 0 10px #ff66c4, 0 0 15px #fda5db,
      0 0 20px #ff8bd3, 0 0 25px #ff66c4, 0 0 30px #ff66c4, 0 0 35px #fa89ce;
  }
  100% {
    text-shadow: 0 0 10px #fd27a7, 0 0 20px #ff41b3, 0 0 30px #ff3fb2,
      0 0 40px #ff0099, 0 0 50px #fb35acaf, 0 0 60px #f84fb4b8, 0 0 70px #ff2fac;
  }
}
